html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

* { color: #333333; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
}
.success {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color:#00C957;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.info {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color:#2E6DA4;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.warning {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color:#FF8000;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.error {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color:red;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
