{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">
        {%trans%}Change email address{%endtrans%}
    </div>
    <hr />

    <p></p>
    <form method="POST">
        <label>{%trans%}New email address{%endtrans%}</label>
        <br />
        <input type="text" name="email" class="form-control" required ><br />
        <p></p>
        <input class="btn-success btn" type="submit" value="{%trans%}Submit{%endtrans%}">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>

  
{% endblock %}
