{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-builder.min.js"></script>


<div class="container">

    <div style="font-size:1.5em">{%trans%}Build your form here{%endtrans%}</div>

    <hr />

    <div id="fb-editor"></div>

    <hr/>
    <h3>{%trans%}Additional info here{%endtrans%}</h3>
    
    <form id="result" action="/forms/edit{% if slug %}/{{ slug }}{% endif %}" method="post" style="padding-bottom:0.5em;">
        <input type="hidden" id="structure" name="structure" />
        <label>{%trans%}Form URL{%endtrans%}</label><br />
        {%trans%}Your from will have this address{%endtrans%}
        <br />
        {{ request.url_root }}
        <input id="slug" name="slug" value="{{ slug }}" size="42" {% if isFormNew %}required{% else %}disabled{% endif %} />
        <input id="slug_not_available"  style="display:none"
                                        class="slug-alert btn btn-danger"
                                        type="button"
                                        value="{%trans%}This URL is not available. Try another!{%endtrans%}"
                                        />

        <input id="slug_changed" style="display:none" class="slug-alert btn btn-success" type="submit" value="{%trans%}OK, use this URL{%endtrans%}" />
        <br />
    <p></p>
    {% if isFormNew %}
    <input class="btn-warning btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms'">
    {% else %}
    <input class="btn-warning btn" type="button" value="{%trans%}Cancel{%endtrans%}" onClick="location.href='/forms/view/{{ slug }}'">
    {% endif %}
    <input class="btn-info btn active" type="submit" value="{%trans%}Preview{%endtrans%}" />
    

    </form>

</div>


<script>
jQuery(function($) {
    const fbEditor = document.getElementById("fb-editor");
    
    var options = {
        showActionButtons: false,
        disableFields: ['autocomplete','hidden', 'button', 'file'],
        disabledAttrs: [
            'className',
            'name',
            'toggle',
            'access',
            'description'
        ],
        controlOrder: [
            'header',
            'paragraph'
        ],
        i18n: {
            locale: "es-ES",
            location: "{{request.host_url}}static/formBuilder-languages/"
            //extension: '.ext'
            //override: {
            //    'en-US': {...}
            //}
        },
        formData: {{ formStructure | safe }}
    };
    const formBuilder = $(fbEditor).formBuilder(options);

    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        //var formStructure = formBuilder.actions.getData('json', true);
        //console.log(formStructure);
        if ( "{{ isFormNew }}" == "True" ){
            $.ajax({
                url : "/forms/check-slug-availability/"+$('#slug').val(),
                type: "POST",
                data : $('#slug').val(),
                dataType: "json",
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#structure').val(formBuilder.actions.getData('json', true));
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#slug_changed').show();
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
             
                }
            });
        }else{
            $('#structure').val(formBuilder.actions.getData('json', true));
            $('#result').submit();
        }
    });
    document.getElementById('slug').addEventListener('click', function(evt){
        $('.slug-alert').hide(); 
    });
    document.getElementById('slug_not_available').addEventListener('click', function(evt){
        $('#slug').val('');
        $('#slug').focus();
        $('.slug-alert').hide(); 
    });
});

</script>

  
{% endblock %}
