{% extends "base.html" %}
{% block content %}



{% if isAdmin %}
<script src="/static/simplemde/simplemde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/simplemde/simplemde.min.css">
{% endif %}


<div class="container">
<div class="row col-md-8">

    <div id="blurb">
        {{ site.blurb['html']|safe }}
        {% if isAdmin %}
        <p></p>
        <hr />
        <input id="show-editor" class="btn-success btn" type="button" value="{%trans%}Edit text{%endtrans%}" />
        {% endif %}        
    </div>

    {% if isAdmin %}
    <div id="editor" style="display:none">
        <input id="save-edit" class="btn-success btn" type="button" value="{%trans%}Save{%endtrans%}" />
        <input id="cancel-edit" class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" />
        <p></p>
        <form id="editor-form" action="/site/save-blurb" method="post">
        <textarea id="sm-editor" name="editor">{{ site.blurb['markdown'] }}</textarea>
        </form>
    </div>
    {% endif %}

</div>
<div class="row col-md-1"></div>
<div class="row col-md-3">
    <form action="/site/login" method="POST" style="margin-top:1.5em">
        <p>
        <label>{%trans%}Username{%endtrans%}</label><br />
        <input name="username" class="form-control" value="" />
        </p>
        <p>
        <label>{%trans%}Password{%endtrans%}</label><br />
        <input type="password" name="password" class="form-control" value="" />
        </p>
        <input class="btn-success btn" type="submit" value="{%trans%}Login{%endtrans%}" />
    </form>
    <br />
    {% if g.current_user %}
        <a href="/site/reset-password">{%trans%}Forgot your password?{%endtrans%}</a>
    {% else %}
        <a href="/site/recover-password">{%trans%}Forgot your password?{%endtrans%}</a>
    {% endif %}
    
    {% if not site.invitationOnly %}
        <br />
        <a href="/user/new">{%trans%}Publish your own form{%endtrans%}</a>
    {% endif %}
</div>
</div>

{% if isAdmin %}
<script>
$(document).ready(function() {

    var simplemde = new SimpleMDE({ 
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                element: $("#sm-editor")[0]
                             });

    $("#show-editor").click(function(){
        $('#blurb').hide();
        $('#editor').show();
        $('.flash_message').hide();
        simplemde.value($("#sm-editor").val())
        window.scrollTo(0,0);
    });
    $("#save-edit").click(function(){
        $('#editor').hide();
        simplemde.toTextArea();
        $("#editor-form").submit();
    });
    $("#cancel-edit").click(function(){
        $('#editor').hide();
        $('#blurb').show();
    });
});
</script>
{% endif %}

{% endblock %}
