{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">

    <div class="row col-md-4">
        <div style="font-size:1.5em">
            {%trans%}User details{%endtrans%}
        </div>
        <hr />
        
        <table class="table table-striped table-condensed">
            <tr>
               <td>{%trans%}Username{%endtrans%}</td>
               <td>{{ user.username }}</td>
            </tr>        
            {% if g.current_user.isRootUser() %}
                <tr>
                   <td>{%trans%}Hostname{%endtrans%}</td>
                   <td>{{ user.hostname }}</td>
                </tr>
            {% endif %}
            <tr>
               <td>{%trans%}Is Admin{%endtrans%}</td>
               <td>
                   <div id="toggle_admin" class="btn-group btn-toggle">
                    <button id="admin_true" class="btn btn-xs btn-default {% if user.admin %}active btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="admin_false" class="btn btn-xs btn-default {% if not user.admin %}active btn-danger{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
                </td>
            </tr>            
            <tr>
               <td>{%trans%}Created{%endtrans%}</td>
               <td>{{ user.data.created }}</td>
            </tr>
            <tr>
               <td>{%trans%}Email{%endtrans%}</td>
               <td>{{ user.data.email }}</td>
            </tr>
            <tr>
               <td>{%trans%}Validated email{%endtrans%}</td>
               <td> {% if user.data.validatedEmail %}
                    <span style="color:green">{%trans%}Yes{%endtrans%}</span>
                    {% else %}
                    <span style="color:red">{%trans%}No{%endtrans%}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Language{%endtrans%}</td>
               <td>{{ config['LANGUAGES'][user.data.language] }}</td>
            </tr>
            <tr>
               <td>{%trans%}Can publish/login?{%endtrans%}</td>
               <td>
                   <div id="toggle_enabled" class="btn-group btn-toggle">
                    <button id="enabled_true" class="btn btn-xs btn-default {% if user.enabled %}active btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="enabled_false" class="btn btn-xs btn-default {% if not user.enabled %}active btn-danger{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
                </td>
            </tr>
        </table>

    </div>
    <div class="row col-md-1"></div>
    <div class="row col-md-7">
        <div style="font-size:1.5em;">
        {%trans%}User's forms{%endtrans%}
        </div>
        <hr />
        
    <table id="forms" class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>{%trans%}Name{%endtrans%}</th>
                <th>{%trans%}Created{%endtrans%}</th>
                <th>{%trans%}Public{%endtrans%}</th>
                <th>{%trans%}Entries{%endtrans%}</th>
            </tr>
        </thead>
        
        {% for form in forms %}
        <tr>
           <td><a href="/forms/view/{{form.slug}}">{{form.slug}}</a></td>
           <td>{{form.created}}</td>
           <td>{{form.enabled}}</td>
           <td>{{form.entries|length}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>


<script>
$(document).ready(function() {
    $('#forms').DataTable();
});
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-enabled/{{ user['username'] }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('active  btn-success');
                $('#enabled_false').removeClass('active btn-danger');
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('active btn-success');
                $('#enabled_false').addClass('active btn-danger');
            }
        }
    });
});
document.getElementById('toggle_admin').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-admin/{{ user['username'] }}",
        type: "POST",
        dataType: "json",
        success: function(data, textStatus, jqXHR)
        {
            if (data.admin == true) {
                $('#admin_true').addClass('active  btn-success');
                $('#admin_false').removeClass('active btn-danger');
            }
            else if (data.admin == false) {
                $('#admin_true').removeClass('active btn-success');
                $('#admin_false').addClass('active btn-danger');
            }
        }
    });
});
</script>
  
{% endblock %}
