{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">

    <div style="font-size:1.5em">
        {%trans%}Users{%endtrans%}
    </div>
    <hr />

<table id="users" class="table table-striped table-condensed">
<thead>
    <tr>
        <th>{%trans%}Username{%endtrans%}</th>
        
        {% if g.current_user.isRootUser() %}
            <th>{%trans%}Hostname{%endtrans%}</th>
        {% endif %}
        
        <th>{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Email{%endtrans%}</th>
        <th>{%trans%}Forms{%endtrans%}</th>
        <th>{%trans%}Can publish{%endtrans%}</th>
        <th>{%trans%}Is Admin{%endtrans%}</th>
    </tr>
</thead>
{% for u in users %}
<tr>
   <td><a href="/admin/users/{{u.username}}">{{u.username}}</a></td>
   
   {% if g.current_user.isRootUser() %}
    <td>{{u.hostname}}</td>
   {% endif %}
   
   <td>{{u.created}}</td>
   <td>{{u.email}}</td>
   <td>{{userFormCount[u.username]}}</td>
   <td>{{u.enabled}}</td>
   <td>{{u.admin['isAdmin']}}</td>
</tr>
{% endfor %}
</table>

</div>

<script>
$(document).ready(function() {
    $('#users').DataTable();
} );
</script>
  
{% endblock %}
