{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">

    <div style="font-size:1.5em">
        {%trans%}Forms{%endtrans%}
    </div>
    <hr />

<table id="forms" class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>{%trans%}Name{%endtrans%}</th>
        
        {% if g.current_user.isRootUser() %}
            <th>{%trans%}Hostname{%endtrans%}</th>
        {% endif %}
       
        <th>{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Author{%endtrans%}</th>
        <th>{%trans%}Entries{%endtrans%}</th>
        <th>{%trans%}Public{%endtrans%}</th>
    </tr>
</thead>
{% for form in forms %}
<tr>
   <td><a href="/forms/view/{{form.slug}}">{{form.slug}}</a></td>
   
   {% if g.current_user.isRootUser() %}
        <td>{{form.hostname}}</td>
   {% endif %}
   
   <td>{{form.created}}</td>
   <td><a href="/admin/users/{{form.author}}">{{form.author}}</a></td>
   <td>{{form.entries|length}}</td>
   <td>{{form.enabled}}</td>
</tr>
{% endfor %}
</table>

</div>


<script>
$(document).ready(function() {
    $('#forms').DataTable();
} );

</script>
  
{% endblock %}
