{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/dataTables.bootstrap.min.css">

<div class="container">
    <div class="row col-md-9" style="font-size:1.5em">
        {%trans%}My forms{%endtrans%}
    </div>
    <div class="row col-md-3 text-right">
    <input class="btn-success btn" type="button" value="{%trans%}New form{%endtrans%}" onClick="location.href='/forms/new'">
    &nbsp;
    <input class="btn-primary btn" type="button" value="{%trans%}Choose a template{%endtrans%}" onClick="location.href='/forms/templates'">
    </div>
</div>


<div class="container">

<hr />

<table id="forms" class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>{%trans%}Name{%endtrans%}</th>
        <th>{%trans%}Created{%endtrans%}</th>
        <th>{%trans%}Entries{%endtrans%}</th>
        <th>{%trans%}Public{%endtrans%}</th>
    </tr>
</thead>
{% for form in forms %}
<tr>
   <td><a href="/forms/view/{{form.slug}}">{{form.slug}}</a></td>
   <td>{{form.created}}</td>
   <td>{{form.entries|length}}</td>
   <td>{{form.enabled}}</td>
</tr>
{% endfor %}
</table>

</div>


<script>
$(document).ready(function() {
    $('#forms').DataTable();
} );

</script>
  
{% endblock %}
