{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">
        {%trans%}Send a new user invitation{%endtrans%}
    </div>
    <hr />

    <p></p>
    <form method="POST">
        <label>{%trans%}New user's email{%endtrans%}</label>
        <br />
        <input type="text" name="email" class="form-control" required >
        <br />
        <label>{%trans%}Include message{%endtrans%}</label>
        <br />
        <textarea name="message" class="form-control" ></textarea>
        
        <br />
        <p></p>
        <input class="btn-success btn" type="submit" value="{%trans%}Send email{%endtrans%}">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
