{% extends "base.html" %}
{% block content %}


{% if not created %}
<div class="container">
    <div class="row col-md-4"></div>
    <div class="row col-md-4">
    
    <div style="font-size:1.5em">
        {%trans%}New user{%endtrans%}
    </div>
    <hr />
    
    <form method="POST">
        <label>{%trans%}Username{%endtrans%}</label><br />
            <input type="text" name="username" class="form-control" placeholder="{%trans%}Letters and numbers. No accents.{%endtrans%}" required >
            <br />

        <label>{%trans%}Email{%endtrans%}</label><br />
            <input type="text" name="email" class="form-control" required ><br />
            <br />

        <label>{%trans%}Password{%endtrans%}</label><br />
            {%trans%}Use a passphrase, with spaces{%endtrans%}<br />
            <input type="password" name="password1" class="form-control" placeholder="{%trans%}eg: No holidays this year{%endtrans%}" required ><br />

        <label>Password again</label><br />
            <input type="password" name="password2" class="form-control" placeholder="{%trans%}Another eg: My dog has fleas{%endtrans%}" required ><br />

    <p></p>
    <input class="btn-success btn" type="submit" value="{%trans%}Submit{%endtrans%}">
    <input class="btn-primary btn" type="button" value="{%trans%}Cancel{%endtrans%}" onclick="window.location.href='/';">
    </form>
    
    </div>
    <div class="row col-md-4"></div>
    
</div>
{% else %}
    <div class="container">
        <div class="row col-md-3"></div>
        <div class="row col-md-6 text-center">
        
        <h2>{%trans%}We sent you an email!{%endtrans%}</h2>
        <p style="padding:1em"></p>
        <input class="btn-primary btn btn-lg" type="button" value="{{site.hostname}}" onclick="window.location.href='/';" >

        </div>
        <div class="row col-md-3"></div>
    </div>
{% endif %}

{% endblock %}
