{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6">
        <div style="font-size:1.5em">
            {%trans%}Preview{%endtrans%}
        </div>
        <div style="font-size:1.25em">
            {{ formURL }}
        </div>
        <hr />
        <div id="fb-render"></div>
        <form action="/forms/save/{{ slug }}" method="post">    
            <input class="btn-primary btn" type="button" value="{%trans%}Edit{%endtrans%}" onClick="location.href='/forms/edit/{{ slug }}'">
            <input class="btn-success btn" type="submit" value="{%trans%}Save{%endtrans%}">
        </form>
    </div>
    <div class="row col-md-3"></div>
</div>


<script>
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render');
        var formData = {{ formStructure | safe }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
    });
</script>
  
{% endblock %}
