{% extends "base.html" %}
{% block content %}


<div class="container">
<div class="row col-md-4"></div>
    
<div class="row col-md-4">

    <div style="font-size:1.5em">{%trans%}Recover password{%endtrans%}</div>
    <hr />
    
    <form method="POST">
        <label>{%trans%}Your email{%endtrans%}</label>
        <br />
        <input type="text" name="email"  class="form-control" required ><br />
        <p></p>
        <input class="btn-success btn" type="submit" value="{%trans%}Submit{%endtrans%}">
    </form>

</div>

<div class="row col-md-4"></div>    
</div>


<script>
    jQuery(function($) {

    });
</script>
  
{% endblock %}
