{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6 text-center">
        <h1>{{ thankyouNote }}</h1>
        <p style="padding:1em"></p>
        <input class="btn-primary btn btn-lg" type="button" value="{%trans%}Return to form{%endtrans%}" onclick="window.location.href='/{{slug}}';" >
    </div>
    <div class="row col-md-3"></div>
</div>

{% endblock %}
