{% extends "base.html" %}
{% block content %}

<script src="/static/formBuilder/form-render.min.js"></script>

<div class="container">
    <div class="row col-md-3"></div>
    <div class="row col-md-6">
        <form method="POST">
        <div id="fb-render"></div>
        <input class="btn-success btn" type="submit" value="{%trans%}Send{%endtrans%}">
        </form>
    </div>
    <div class="row col-md-3"></div>
</div>


<script>
    jQuery(function($) {
        var fbRender = document.getElementById('fb-render');
        var formData = {{ formStructure | safe }};
        var formRenderOpts = {
            formData,
            dataType: 'json'
        };
        $(fbRender).formRender(formRenderOpts);
    });
</script>
  
{% endblock %}
